$font-stack: "Century Gothic", sans-serif;

body {
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;
  background: #cccccc;
  overflow: hidden;
}

h1, h3 {
  color: #FFF;
  text-align: center;
}

canvas {
  border: 1px solid #fff;
}


.baseMap {
  background: #f3f3f3;
  border-color: #558893;
  border-style: solid;
}

.box {
  background: rgba(243,243,243,0.75);
  border: 1px solid #558893;
}

.scoreBox {
  width: 200px;
  right: 20px;
  top: 20px;
  position: fixed;
  z-index: 2;
}

.skillTooltip {
  font-size: 16;
  padding: 25px;
}

.keyBox {
  width: 60px;
  height: 60px;
  padding: 4px;
  z-index: 2;
  position: relative;
}

.keyText {
  color: #222244;
  position: absolute;
  bottom: 2px;
  z-index: 5;
  right: 4px;
  font-size: 12px;
  font-weight: bold;
}

.skillLabel {
  color: #333355;
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.scoreRow {
  padding: 10px;
}

.teamName {
  color: #222233;
}

.scoreValue {
  float: right;
  color: #444466;
}

.arcOuter {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
  transform-origin: 100% 100%;
}

.arcInner {
  display: block;
  border-radius: 50%;
}
