doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title ArenaPvP
    link(rel='stylesheet', href='app.css')
    script(src='https://code.createjs.com/easeljs-0.8.0.min.js')
  body
    canvas#canvas
    #arena
    script(src='app.js')
