doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title ArenaPvP
    link(rel='stylesheet', href='app.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/2.2.8/pixi.dev.js')
  body
    div#render-area
    #arena
    script(src='app.js')
